/* styles.css - Estilos básicos */

* {
    margin: 0;
    padding: 0;
    font-family: "comic sans ms", "Comic Sans MS", "roboto", sans-serif;

    font-weight: 900;
}

body {
    background: #222;
    color: #fff;
    justify-items: center;
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

h1 {
    font-size: 26pt;
}

p {
    margin: 0.5em 0;
    font-size: 14pt;
}

a {
    color: #4fc3f7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
    padding-left: 2.5%;
    padding-top: 2.5%;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    position: relative;
    justify-self: center;
    justify-content: center;
}

header {
    padding: 0.5%;
    width: 100%;
    margin-bottom: 1%;
    text-align: center;
    background: #444;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

footer {
    padding: 0.5%;
    width: 100%;
    margin-top: 1%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #444;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}