/* styles.css - Estilos básicos */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    color: #fff;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

a {
    color: #4fc3f7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
    padding-left: 2.5%;
    padding-top: 2.5%;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    position: relative;
    justify-self: center;
    justify-content: center;
}
header {}